@model IEnumerable<Sis_Empleados.Models.PlanillaFila>

<h2>Planilla generada</h2>

<div class="text-end mb-3">
    <a asp-action="ExportarExcel" asp-route-idPeriodo="@ViewBag.IdPeriodo" class="btn btn-success">📊 Exportar Excel</a>
</div>


<table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>Empleado</th>
            <th>Departamento</th>
            <th>Cargo</th>
            <th>Salario Base</th>
            <th>Total Deducciones</th>
            <th>Salario Neto</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td>@f.Empleado</td>
                <td>@f.Departamento</td>
                <td>@f.Cargo</td>
                <td>C$ @f.SalarioBase</td>
                <td>C$ @f.TotalDeducciones</td>
                <td><b>C$ @f.SalarioNeto</b></td>
            </tr>
        }
    </tbody>
</table>


